.container-cars {
  height: 100%;
  width: 100%;
  .container-cars-grid {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 40px;

    .container-cars-card {
      background: #0000003b;
      box-shadow: none;
      height: 78%;
      width: 100%;
      border-radius: 15px;
      padding: 20px;

      ion-grid {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;

        &::-webkit-scrollbar {
          width: 7px;
          height: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: #8888889c;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f12f;
          border-radius: 10px;
        }
      }

      ion-card {
        padding: 20px;
        --background: #0000003b;
      }

      ion-row {
        display: flex;
        justify-content: center;

        ion-col {
          width: 100% !important;
          max-width: 280px !important;
        }
      }

      .card {
        --background: #ffffff07;
        height: 300px;
        padding: 10px;
        width: 250px;

        ion-card-title {
          color: white;
          font-size: 14px;
          font-weight: initial;
        }

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }

  ion-header {
    height: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.007);
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;

    .container-logo {
      position: relative;
      top: 0;
      img {
        width: 90px;
        object-fit: cover;
      }
    }

    ion-button {
      width: 140px;
      height: 45px;
      max-width: 400px;
      font-size: 13px;
      margin: 12px 0;
      --background: #4693f9;
      --border-radius: 12px;
      --color: white;
      position: relative;
      z-index: 2;
      line-height: 45px;

      img {
        width: 14px;
        margin: 0 10px 2px 0px;
      }
    }
  }
}

spline-viewer {
  z-index: -1;
}

@media (max-width: 768px) {
  .container-cars {
    .container-cars-grid {
      padding: 4px;
    }
  }
}
